<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:theme="@style/Theme.ShopSprint"
        android:label="ShopSprint">

        <activity android:name=".OrderTrackingActivity"/>
        <activity android:name=".CheckoutActivity"/>
        <activity android:name=".CartActivity"/>
        <activity android:name=".ProductDetailsActivity"/>
        <activity android:name=".MensFashionActivity"/>
        <activity android:name=".CategoriesActivity"/>
        <activity android:name=".HomeActivity"/>

        <activity
            android:name=".SplashActivity"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category
                    android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

    </application>

</manifest>